<!DOCTYPE html>

<html>



    <head>
    <meta charset="utf-8">
    <title>Flask Demo</title>
    <link rel="stylesheet" href="/static/css/styles.css"

        

    </head>





    <body>
        <header>
            <h1>flask demo</h1>
            <nav>
                <a href="/">home</a>
                <a href="/demo">demo</a>
                <a href="/cats">cats</a>

            </nav>
        </header>

        <main>    
            {% block content %}
            {% endblock %}
        </main>    




    </body>










</html>