{% extends "pages/_base.jinja" %}

{% block content %}



<h1>hello wolrd</h1>

<p>this is a flask and jinja website</p>

<img src="/static/css/images/aichicken.jpg" alt="chicken">


{% endblock %}


