body {
    font-family: system-ui;
    color: hotpink;
}

header {
    text-align: center;
    flex: auto;

}



main {
    margin: 2rem auto;

    background-color: black;
    color: white;
    border: solid, black 3px;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;

}
.img {
    border: solid, black, 5px;
}